*{
    margin: 0;
    padding: 0;
    /* border: 2px solid rgb(20, 215, 30); */
    box-sizing: border-box;
}
p{

    /* display:inline; */
    display: block;
}
 nav >a{
   text-decoration: none;
   color: rgb(233, 225, 68);

}
img{
    height: auto;
    width: 50%;
}
nav{
    text-align: end;
    word-spacing: 25px;
    padding: 10px;
    background-color: black;
}
nav > a:hover{
    color: aliceblue;
    background-color: deepskyblue;
}