body{
    background-color: black;
    color: white;

}
h1{
    text-align: center;
}
.container{
    margin: auto;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    width: 500px;
    padding: 10px;
    

}
p{
    text-align: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% ;
}