*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 400px;
    border: 2px solid black;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction:row;
    flex-wrap: wrap; */
    /* gap: 10px; */
    /* row-gap: 10px; */
    /* column-gap: 10px; */
    flex-flow:wrap row;
    /* justify-content: center; */
    /* space-around,evenly,between */
    /* justify-content: space-around; */
    align-items: flex-start;
    align-items: center;
    /* align-items: end; */
    /* align-content:space-between; */

}
.box{
    border: 2px solid green;
    width: 100px;
    /* flex-basis:25% ; */
    flex: 0 0 200px;
   
}
#box1{
    /* order: 1;
    flex-grow: 2; */
    /* flex-shrink: 9; */
}
#box4{
    /* flex-shrink: 5; */
}