*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid black;
    height: 600px;
    row-gap: 10px;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    /* grid-template-columns: 1fr 2fr 3fr; */
    /* 2fr 3fr 4fr use this for more efficient space use
    autofill,auto
    auto auto 
    repeat(3,1fr)*/
    /* grid-template-rows: 100px 100px 100px 100px; */
    /* justify-content:space-between; */
    /*   */
}
.box{
    border: 2px solid green;
    padding: 10px;
    /* height: 100px;
    width: 100px; */
    
}
#box-1{
    background-color: brown;
    /* justify-self: center;
    align-self: flex-start; */
    /* grid-column-start: 1;
    grid-column-end: 3 ; */
    /* grid-column: 1 / 3;
    grid-row: 1 / 3; */
    grid-area: 1/1 / 3/3;
}