*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: navajowhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 200px;
}
.container{
    width: 300px;
    height: 300px;
    border: 4px solid black;
    border-radius: 50%;
    animation: room 5s infinite;
    
}
.box{
    height: 100px;
    width: 100px;
    background-color: crimson;
    /* transition: 1s ease-in-out; */
    /* animation-delay:2s; */
    /* animation-name: room;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
    border-radius: 50%; 

}
/* .box:hover{
    /* transform:translate(200px) ; */

@keyframes room{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}


 /* @keyframes shiftbox{
    0%{
        transform:translate(0,0);
       
    }
    25%{
        transform:translate(195px,0);
        background-color: blue;
         border-radius: 50%;
    }
    50%{
        transform: translate(195px,195px);
    }
    75%{
        transform: translate(0,195px);
    }
 } */
  .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .dot{
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    animation: loading 2s ease  infinite alternate;
  }
  .dot:nth-child(even){
    animation-delay: .1s;
  }
  @keyframes loading {
   from{
    transform: translatey(-10px);
   }
   to{
    transform: translatey(10px);
   }
  }