body{
    background-color: aquamarine;
}
/* @media(width <=500px){
    body{
        background-color: red;
    }
} */
 @media(orientation: portrait){
    body{
        background-color: red;
    }
}
@media(width <=300px){
    body{
        background-color: rgb(23, 237, 237);
    }
}