.container{
    background-color: violet;
    height: 500px;
    width: 500px;
    margin:  100px auto;
    /* position: absolute; */
}

.static {
    position: static;
    background-color: aqua;
    height: 100px;
    width: 100px;
}

.relative {
    position: relative;
    background-color: blue;
    height: 100px;
    width: 100px;
    top: 50px;
    left: 300px;
    /* bottom: 50px;
    right: 100px; */
}

.absolute {
    position: absolute;
    background-color: brown;
    height: 100px;
    width: 100px;
    top: 0;
    right:0;
}

.fixed {
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    /* stays on same even after scrolling  Eg:navbar */
}

.sticky {
    background-color: chocolate;
    height: 100px;
    width: 100px;
    position: sticky;
    left: 80px;
    top: 50px;
}
.blankspace{
    height: 100vh;
    width: 300vw;
}