*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
#div1{
     border: 50px solid black;
    text-align: center;
    padding: 20px;
    margin: 0px;
    /* height: 50px;        box sixoing: borer-box adjusts to this pixels size of height and width*/
    /* width: 250px; */
}
#div2{
    border: 50px solid black;
    text-align: center;
    padding: 20px;
    margin: 10px;
    /* height: 50px; */
}
