.container{
    /* width: 400px;
    height: 400px;
    border: 1px solid black;
    overflow: auto;
    /* other 3 are hidden, scroll, visible(default) */
    text-align: justify; 
    
}
.img1{
    float: left;
  
}
.img2{
    float: right;
}
    
p
{
    clear: right;
}
.subcontainer{
    overflow: auto;
}