h1{
    color: rgb(60, 2, 249);
    background-color: rgb(145, 145, 174);
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(214, 23, 5);
}
/* justify allows text to be aligned to both the left and right margins equally */
p{
    text-align: justify; 
    text-indent: 50px;  
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-family:"Playwrite GB J Guides", cursive;
    /* can also use custom fonts from google by copying link and pasting it in the HTML file */
}
h2{
    color: brown;
    background-color: rgb(238, 238, 12);
    text-shadow: 1px 1px 9px green;
    font-family: Arial, sans-serif;
}
a{
    color: black;
    text-decoration:none;
    text-decoration-color: rgb(15, 121, 159);
    /* text-decoration-style: wavy; */
}