*{
    background-color: aquamarine;
}
.box{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 100px auto;
    /* transition: .5s; */
    transition-duration: .5s;
    transition-property: background-color, border-radius, transform;
    transition-timing-function: linear;
   

}
.box:hover{
    background-color: rgb(3, 3, 3);
    border-radius: 50%;
    transform: rotate(360deg);
    /* transition-delay: 5s; */
}